@font-face {
    font-family: 'Opel Next';
    src: url('OpelNext-Bold.woff2') format('woff2'),
        url('OpelNext-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Opel Next';
    src: url('OpelNext-Light.woff2') format('woff2'),
        url('OpelNext-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Opel Next';
    src: url('OpelNext.woff2') format('woff2'),
        url('OpelNext.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

