/*header*/

.header {
    margin-bottom: 2em;
}
.header__head {
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
}
.header__head-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    color: var(--c-main);
}
.header__head-item .icon {
    width: 1em;
    height: 1em;
    fill: var(--c-main);
}
.header__head-item .button {
    --size: 45px;
    max-width: var(--size);
    border-radius: 0.4rem;
    font-size: 14px;
    font-weight: 700;
    white-space: normal;
    line-height: 1.3em;
     --padding-left-right: 60px;
    width: 100%;
    height: var(--size);
}
.head_text {
    border-right: solid 2px var(--c-gray);
    padding-right: 2em;
}
.ya-logo .icon{
    width: 130px;
    height: 40px;
}
.logo {
    display: flex;
    align-items: center;
    gap: 1em;
}

.brand {
    display: flex;
    flex-direction: column;
}
.YA {
    font-size: 16px;
    font-weight: 400;
    line-height: 1em;
    margin-bottom: 0.5em;
    color: var(--c-black);
}
.YA-sub{
    font-size: 14px;
    font-weight: 400;
    line-height: 1em;
    color: var(--c-gray);
}
.phone {
}
.phone .number {
    line-height: 1em;
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
    gap: 0.5em;
}
.phone .text {
    font-size: 15px;
    font-weight: 400;
    line-height: 1em;
    display: flex;
    align-items: center;
    gap: 0.5em;
}
.logo .icon {
    width: 130px;
    height: 50px;
    fill: var(--c-main);
}
.footer-container__contacts .logo {
    margin-bottom: 1em;
}
.footer-container__contacts .logo .icon {
    fill: var(--c-white);
}
.footer-container__contacts .logo span:hover {
    color: var(--c-white);
}
.head__menu {
    padding: .5em 0;
    border-top: solid 1px var(--c-gray);
    box-shadow: 0px 10px 20px 0px #a3a3a373;
}
.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_container-item .button{
    --padding-top-bottom: 10px;
}
.nav_container .nav_link {
    font-size: 15px;
    text-transform: uppercase;
    color: var(--c-main-other);
}
.nav_container .nav_link:hover {
    color: var(--c-hover);
}
.nav {

}
.nav_link {
    font-size: 15px;
    font-weight: 400;
    line-height: 1em;
    margin-right: 2em;
}
.nav_link:nth-last-child(1) {
    margin-right: 0;
}

/*vw header*/

.vw-page_header {
    --icon-w: 30px;
    --icon-h: 25px;
    --ui-color: var(--c-main-other);
    --width: 100px;
}
.vw-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: var(--c-white);
    width: var(--width);
    box-shadow: 0.5rem 0.4rem 2rem rgb(0 0 0 / 10%);
    z-index: 50;
    height: 100%;
    overflow: auto;
}
.vw-nav {
    display: flex;
    flex-direction: column;
}
.vw-logo .icon {
    width: 50px;
    height: 50px;
}
.vw-nav__item {
    --padding-t-b: 1em;
    text-align: center;
    border-bottom: solid 1px var(--c-ligth-gray);
    padding-bottom: var(--padding-t-b);
    padding-top: var(--padding-t-b);
    cursor: pointer;
}
.vw-nav__item:hover {
    --ui-color: var(--c-main);
}
.vw-logo {
    --padding-t-b: 1.5em;
    padding-top: var(--padding-t-b);
}
.vw-nav__item-icon {}
.vw-nav__item-icon .icon {
    width: var(--icon-w);
    height: var(--icon-h);
    fill: var(--ui-color);
}
.vw-nav__item-title {
    font-family: 'VW Head', Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: var(--ui-color);
}
.vw-container__submenu {
    --position: 250px;
    transform: translateX(calc(-1 * var(--position)));
    position: fixed;
    top: 0;
    left: var(--width);
    bottom: 0;
    background: var(--c-white);
    width: var(--position);
    box-shadow: 0.5rem 0.4rem 2rem rgb(0 0 0 / 10%);
    border-left: solid 1px var(--c-gray);
    opacity: 1;
    transition: 200ms;
    z-index: 10;
    height: 100%;
    overflow: auto;
}
.--is-vw-open {

}
.--is-vw-open .vw-container {
    box-shadow: revert;
}
.--is-vw-open .vw-container__submenu {
    transform: translateX(0);
    opacity: 1;
}
.vw-container__submenu .vw-nav {

    padding-top: 2em;
    padding-bottom: 2em;
}
.vw-container__submenu .vw-nav__item{
    display: grid;
    grid-template-columns: var(--icon-w) 1fr;
    gap: var(--icon-w);
    align-items: center;
    padding: 1em 1em;
    justify-items: start;
}
.scroll::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--c-main);
    width: 50px;
}

.scroll::-webkit-scrollbar-track {
/*    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.2);*/
    border-radius: 5px;
    background-color: transparent;
}
/*vw header*/

/*header*/

/*mob header*/

.header_mobile {
    display: none;
}
.header__mob__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
}
.header__mob__head-item {}
.icon_box .icon {
    --icon-size: 30px;
    width: var(--icon-size);
    height: var(--icon-size);
    fill: var(--c-main);
    stroke: var(--c-main);
}
.icon_box .close {
    stroke: initial;
}
.header_mobile--container {
    --top: 82px;
    position: absolute;
    top: var(--top);
    transform: translateX(-120%);
    transition: 200ms;
    opacity: 0;
    z-index: 5;
    height: calc(100vh - var(--top));
    border-top: solid 1px var(--c-gray);
    background: #fff;
    width: 100%;
}
.nav__mob {
    height: 100%;
    overflow: auto;
}
.nav__mob a {
    font-family: 'VW Head', Helvetica, sans-serif;
    display: block;
    color: var(--c-black);
    padding: 15px 20px;
    font-size: 15px;
    font-weight: 400;
    border-bottom: solid 1px var(--c-gray);
    margin-right: 0;
    text-transform: uppercase;
}
.burger {
    display: block;
}
.close {
    display: none;
}
body.--is-visible .header_mobile--container {
    opacity: 1;
    transform: translateX(0);
}
body.--is-visible .burger {
    display: none !important;
}
body.--is-visible .close {
    display: block !important;
}
body.--is-visible .burger {
    display: none !important;
}

/*mob header*/


/*form - основная форма*/
.form-container {
    padding: 4em;
    margin-bottom: 4em;
}
.form-container__title {
    font-size: 35px;
    font-weight: 600;
    line-height: 1em;
    margin-bottom: 1em;
}
.form-container__sub {
    font-size: 22px;
    font-weight: 400;
    line-height: 1em;
    color: var(--с-ligth-gray);
    margin-bottom: 2em;
}
.main-form {}
.main-form__input {
    display: flex;
    gap: 2em;
    margin-bottom: 1em;
}
.checkbox-item {
    margin-bottom: 2em;
}
.checkbox-item .--main{
    text-decoration: underline;
}
.main-form .button {
    --padding-left-right: 60px;
    --padding-top-bottom: 15px;
    text-transform: uppercase;
    font-size: 18px;
}

/*form - основная форма*/

/*footer*/

.footer {
    padding: 3em 0;
}
.footer-container {}
.footer-container__head {
    --padding-b: 2em;
    display: flex;
    gap: 1em;
    border-bottom: solid 1px var(--c-gray);
    padding-bottom: var(--padding-b);
    margin-bottom: var(--padding-b);
    align-items: flex-start;
}
.footer-container__head a {
    border-right: solid 1px var(--c-black);
    padding-right: 1em;
}
.footer-container__head a:nth-last-child(1) {
    border-right: 0;
    padding-right: 0;
}
.footer-container__head-links {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2em;
    justify-items: start;
    align-items: start;
}
.footer-container__title {
    color: var(--c-main-other);
    font-size: 16px;
    font-weight: 600;
    line-height: 1em;
    margin-bottom: 1em;
}
.footer-container__link a {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1em;
    margin-bottom: 1em;
}
.footer-container__head-link {
    display: flex;
    align-items: center;
    gap: 3em;
    padding: 1em 0;
}
.footer-container__head-link a {
    font-family: 'SuzukiPROBold', Helvetica, sans-serif;
    font-size: 18px;
    color: var(--c-black);
}
.footer-links {
    color: var(--c-white);
}
.footer-container__head-contacts {
    display: flex;
    justify-self: normal;
    flex-direction: column;
    align-items: flex-start;
    max-width: 250px;
}
.footer-container__head-contacts a {
    margin-bottom: 1em;
}
.footer-contacts {}
.footer-contacts__item {
    font-size: 12px;
    color: var(--c-darkgray);
}
.footer-container__contacts {
}
.footer__contacts-title {
    font-size: 12px;
    font-weight: 600;
    line-height: 1em;
    margin-bottom: 1em;
}
.footer__contacts-address {
    max-width: 300px;
    /*font-size: 12px;
    font-weight: 400;
    line-height: 1em;
    margin-bottom: 1em;*/
}
.footer__contacts-phone {
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 12px;
    margin-bottom: 1em;
}
.scrollTop {
    --ui-color: var(--c-black);
    background: var(--vw-gray);
    padding: .5em 0;
    cursor: pointer;
}
.scrollTop:hover {
    --ui-color: var(--c-main)
}
.scrollTop .content {
    color: var(--ui-color);
    font-size: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
    transition: 100ms;
}
.scrollTop .icon{
    fill: var(--ui-color);
    width: .7em;
    height: .7em;
    display: block;
    transition: 100ms;
}
/*.footer-container__contacts .button {
    --padding-top-bottom: 15px;
    --border-color: var(--c-white);
    color: var(--c-white);
    background: transparent;
    margin-bottom: 1em;
}
.footer-container__contacts .button:hover {
    --ui-color: var(--c-white);
}
.footer-container__contacts .hovered-t::before{
    background-color: var(--c-white);
}*/
.footer__contacts-phone .icon{
    fill: var(--c-white);
    width: 15px;
    height: 15px;
}
.footer-container__footer {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5em;
}
/*footer*/

/*remodal*/

.modal-container {}
.modal-container .title {}
.modal-container .sub {
    margin-bottom: 2em;
}
.modal-form {}
.modal-form .button {
    text-transform: uppercase;
    font-weight: 600;
}
.modal-form__item {
    margin-bottom: 1em;
}
.modal-form__item input {
    padding: 15px 15px;
}
.modal-form__item .checkbox input {
    padding: .5em;
}
.modal-form__item .input_title {}
.modal-form__item .input_title sup {
    color: var(--c-main);
}
/*remodal*/

@media (max-width: 1024px) {
    .footer-container__head {
        display: block;
    }
    .footer-container__head-links {
        margin-bottom: 1em;
    }
    .header_mobile {
        display: block;
    }
    .header {
        display: none;
    }
    .vw-page_header {
        display: none;
    }
}
@media (max-width: 768px) {
    .footer-container__head-links {
        grid-template-columns: repeat(2, 1fr);
    }
    .main-form__input {
        display: block;
    }
    .form-container__title {
        font-size: 25px;
    }
    .form-container__sub {
        font-size: 18px;
    }
}
@media (max-width: 425px) {
    .form-container {
        padding: 2em;
    }
    .main-form .checkbox input {
        padding: .5em;
    }
    .footer-container__head-links {
        grid-template-columns: 1fr;
        margin-bottom: 2em;
    }
    .footer-container__head-links .button {
        width: 100%;
    }
    .footer-container__head-contacts {
        display: block;
        max-width: initial;
        text-align: center;
    }
    .footer-container__head-contacts .logo {
        margin-bottom: 1em;
        display: block;
    }
    .footer-container__head a {
        display: block;
        border-right: revert;
        padding: 0.5em 0;
    }
    .footer__contacts-address {
        max-width: revert;
        padding: 0.5em 0;
    }
}
