@import "../fonts/font.css";
@import "remodal.css";
@import "ui/dropdown.css";
@import "ui/input.css";
@import "ui/checkbox.css";
@import "ui/button.css";
@import "style.css";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --container-min-width: 320px;
    --container-max-width: 1300px;
    --container-margin: 0px auto;
    --container-padding: 0 1em;
    --c-main: #05141F;
    --c-hover: #454748;
    --c-gray: #DEDEDC;
    --c-darkgray: #5C5D5E;
    --c-orange: orange;
    --c-ligth-gray: #9BA1A5;
    --c-black: #000;
    --c-white: #fff;
    --bg-main: #F2F2F2;
    --b-radius: 3px;
    --h1: 35px;
    --h2: 25px;
    --h3: 20px;
    --h4: 17px;
}
.--b-radius {border-radius: var(--b-radius)}
.--bg-main {background: var(--bg-main);}

body {
    font-family: 'Kia Signature', Helvetica, sans-serif;
    font-size: 16px;
}
.container {
    max-width: var(--container-max-width);
    min-width: var(--container-min-width);
    margin: var(--container-margin);
    padding: var(--container-padding);
    box-sizing: border-box;
}
.w100 {
    width: 100%;
}
h1, .h1 {
    font-size: var(--h1);
    font-weight: 400;
    line-height: 1em;
    margin-bottom: 2rem;
}
h2, .h2 {
    font-size: var(--h2);
    font-weight: 400;
    line-height: 1em;
    margin-bottom: 2rem;
}
h2, .h2 a {
    color: var(--c-main);
}
a {
    color: var(--с-black);
    transition: 200ms;
    text-decoration: none;
}
a:hover {
    color: var(--c-main);
    text-decoration: underline;
}
a.--main {
    color: var(--c-main);
}
a.--main:hover {
    color: var(--c-hover);
}

/*remodal*/

.remodal {
    border-radius: 5px;
    background: #fff !important;
    overflow: hidden;
    text-align: initial;
    margin-bottom: -1px;
}
.remodal:after {
    content: '';
    background-color: var(--c-main);
    border-radius: 50%;
    width: 300px;
    height: 250px;
    position: absolute;
    bottom: -172px;
    left: -250px;
    transition: .2s;
    z-index: 1;
}
.remodal-overlay {
    background: rgba(0, 0, 0, .4);
}

.remodal-close,
.remodal-close:before {
    top: 0;
    left: unset;
    right: 0;
}
@media only screen and (min-width: 641px) {
    .remodal {
        max-width: 600px;
    }
    .remodal.videoreview-modal {
        max-width: 630px;
    }
}

@media only screen and (min-width: 998px) {
    .remodal.videoreview-modal {
        max-width: 930px;
    }
}

/*remodal*/